# 1. use pandas.read_csv() method to load the dataset into a Pandas DataFrame;

In [9]:
import pandas as pd
dataframe = pd.read_csv(r'C:\Users\Kisho\Desktop\MCIS\DataMining\Homeworks\HW0\Jyothi_hw0_files\BKB_WaterQualityData_2020084 raw csv data.csv')
dataframe.head()

,Site_Id,Unit_Id,Read_Date,Salinity (ppt),Dissolved Oxygen (mg/L),pH (standard units),Secchi Depth (m),Water Depth (m),Water Temp (?C),Air Temp-Celsius,Air Temp (?F),Time (24:00),Field_Tech,DateVerified,WhoVerified,AirTemp (C),Year
0,Bay,NaN,1/3/1994,1.3,11.7,7.3,0.40,0.40,5.9,8.0,46.40,11:00,NaN,NaN,NaN,8.0,1994
1,Bay,NaN,1/31/1994,1.5,12.0,7.4,0.20,0.35,3.0,2.6,36.68,11:30,NaN,NaN,NaN,2.6,1994
2,Bay,NaN,2/7/1994,1.0,10.5,7.2,0.25,0.60,5.9,7.6,45.68,9:45,NaN,NaN,NaN,7.6,1994
3,Bay,NaN,2/23/1994,1.0,10.1,7.4,0.35,0.50,10.0,2.7,36.86,NaN,NaN,NaN,NaN,2.7,1994
4,Bay,NaN,2/28/1994,1.0,12.6,7.2,0.20,0.40,1.6,0.0,32.00,10:30,NaN,NaN,NaN,0.0,1994

# 2. clean the data so that the range of years is restricted to the 20 year period from 1999 to 2018

In [6]:
cleaned_dataframe = dataframe.query('Year >= 1999 and Year <= 2018')
cleaned_dataframe.tail()

,Site_Id,Unit_Id,Read_Date,Salinity (ppt),Dissolved Oxygen (mg/L),pH (standard units),Secchi Depth (m),Water Depth (m),Water Temp (?C),Air Temp-Celsius,Air Temp (?F),Time (24:00),Field_Tech,DateVerified,WhoVerified,AirTemp (C),Year
2366,Bay,NaN,10/11/2018,1.9,5.0,7.0,4.00,1.2,25.0,NaN,78.0,09:30,Sue Poe,11/13/2019,Christine Folks,25.555556,2018
2367,Bay,NaN,10/24/2018,0.0,9.0,7.0,0.30,0.6,18.0,NaN,58.0,09:30,Sue Poe,11/13/2019,Christine Folks,14.444444,2018
2368,Bay,NaN,10/28/2018,0.9,2.9,7.0,0.40,0.9,13.0,NaN,49.0,09:20,Sue Poe,11/13/2019,Christine Folks,9.444444,2018
2369,Bay,NaN,11/7/2018,1.7,NaN,7.0,0.45,0.9,20.0,NaN,65.0,09:45,Sue Poe,11/13/2019,Christine Folks,18.333333,2018
2370,Bay,NaN,12/11/2018,0.1,NaN,7.0,0.10,0.1,10.0,NaN,42.0,09:40,Sue Poe,11/13/2019,Christine Folks,5.555556,2018

# 3. store the entire dataset back into a new CSV file called back_bay_1998-2018_clean.csv.

In [7]:
cleaned_dataframe.to_csv('back_bay_1998-2018_clean.csv')
print(f'Cleaned data saved to "back_bay_1998-2018_clean.csv"')

Cleaned data saved to "back_bay_1998-2018_clean.csv"

# 4. code for question-1 (How many and what are the names of the columns in this dataset?)

In [8]:
column_headings = dataframe.columns.values
print(f'Dataset contains {len(column_headings)} columns and they are:')
print(*column_headings, sep='\n')

Dataset contains 17 columns and they are:
Site_Id
Unit_Id
Read_Date
Salinity (ppt)
Dissolved Oxygen (mg/L)
pH (standard units)
Secchi Depth (m)
Water Depth (m)
Water Temp (?C)
Air Temp-Celsius
Air Temp (?F)
Time (24:00)
Field_Tech
DateVerified
WhoVerified
AirTemp (C)
Year

# 5. code for question-2 (What is the mean Dissolved Oxygen (mg/L) over the entire dataset?)

In [5]:
print(f"Mean Dissolved Oxygen (mg/L) = {dataframe.mean(axis=0)['Dissolved Oxygen (mg/L)']}")

Mean Dissolved Oxygen (mg/L) = 6.646263157894744

# 6. code for question-3 (Which year were the highest number of AirTemp (C) data points collected?)

In [6]:
counts = dataframe[['AirTemp (C)', 'Year']].groupby(by=['Year']).count()
print(counts)
print(f"Year with the highest number of AirTemp (C) data points = {counts['AirTemp (C)'].idxmax()}")

      AirTemp (C)
Year
1899            5
1989           17
1990           37
1991           43
1992           45
1993           42
1994           38
1995           42
1996           35
1997           31
1998           15
1999           45
2000          109
2001          115
2002          108
2003           98
2004          119
2005          107
2006          118
2007          114
2008          117
2009          120
2010          109
2011           97
2012           88
2013           91
2014           87
2015           88
2016           59
2017           85
2018           82
2019           65
Year with the highest number of AirTemp (C) data points = 2009

# 7. code for question-4 (Which year were the least number of AirTemp (C) data points collected?)

In [7]:
print(f"Year with the least number of AirTemp (C) data points = {counts['AirTemp (C)'].idxmin()}")

Year with the least number of AirTemp (C) data points = 1899

# 8. Which sampling location has the highest mean ppt? What is the equivalent ppm?

In [8]:
mean_ppt = dataframe[['Site_Id', 'Salinity (ppt)']].groupby(by=['Site_Id']).mean()
print(f"Sampling location with highest mean ppt = {mean_ppt['Salinity (ppt)'].idxmax()}")
max_value = mean_ppt['Salinity (ppt)'].max()
print(f'{max_value} ppt = {max_value * 10000} ppm')

Sampling location with highest mean ppt = Bay
1.483153638814015 ppt = 14831.53638814015 ppm

# 9. When looking at the mean ppt, which location would you infer is furthest from the influence of ocean water inflows?
#    (Assume that higher salinity correlates to closer proximity to the ocean.)

In [9]:
print(f"Location furthest from the influence of ocean water inflows is {mean_ppt['Salinity (ppt)'].idxmin()}")

Location furthest from the influence of ocean water inflows is d

# 10. Dig a little deeper into #2, and write why there may be some uncertainty in your answer?
# (hint: certainty is improved by consistency in data)

In [10]:
print(mean_ppt)
print(f'In the above means there is a sampling location with lowercase "d" (which is not valid).\nThis is due to the sample 2283.\nThe solution is to change the sampling location to uppercase D or remove the sample from the dataset.')

         Salinity (ppt)
Site_Id
A              0.329517
B              0.433765
Bay            1.483154
C              0.596397
D              0.099619
d              0.000000
In the above means there is a sampling location with lowercase "d" (which is not valid).
This is due to the sample 2283.
The solution is to change the sampling location to uppercase D or remove the sample from the dataset.

# 11. Use the data to determine the correlation between Salinity (ppt) and pH (standard units)

In [11]:
correlation = dataframe[['Salinity (ppt)','pH (standard units)']].corr()['Salinity (ppt)'].values
print(f'Correlation between Salinity (ppt) and pH (standard units):')
print(f'{correlation[0]:.3f} Salinity (ppt) = {correlation[1]:.3f} pH (standard units)')

Correlation between Salinity (ppt) and pH (standard units):
1.000 Salinity (ppt) = 0.296 pH (standard units)